/* Copyright 2024 Connect & Play. All rights reserved. */
/* page wide settings */
:root {
	--foreground: #0a0a0a;
	--background: #fdfaff;
	--primary: #4b006e;
	--accent: #9c00e5;
	--highlight: #d6c52e;
	--box-1: #cdcdcd;
	--box-2: #b5b5b5;
	--footer-header: #000;
	--header-z-index: 10;
}

/* reset default browser styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* don't include padding and margins to elements width and height */
}

body {
	font-family: "Inter", "Verdana", sans-serif;
	background-color: var(--background);
	color: var(--foreground);
}

/* text style classes */

h1 {
	font-size: 41px;
	font-weight: bold;
}

h2 {
	font-size: 33px;
	font-weight: bold;
}

h3 {
	font-size: 27px;
	font-weight: bold;
}

h4 {
	font-size: 24px;
	font-weight: bold;
}

h5 {
	font-size: 18px;
	font-weight: bold;
}

p,
a {
	font-size: 16px;
}

.tiny-text {
	font-size: 12px;
}

.heading {
	font-size: 50px;
	font-weight: 400;
}

.text-center {
	text-align: center;
}

/* img style classes */

.home-banner {
	background-image: url("images/header.jpg");
	background-size: cover;
	width: 100%;
	height: 500px;
}

.banner-img {
	width: 100%;
	height: 30vh;
	margin: 0;
	padding: 0;
}

.wie-zijn-wij-img {
	width: 100px;
}

.missie-en-visie-img {
	width: 30%;
}

.contact-img {
	width: 4vw;
	height: 4vh;
}

/* classes for interactive elements (buttons, input fields) */
.input,
.button {
	width: 100%;
	padding: 10px 0;
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	box-shadow: 0 1px 1px #4b006e;
	resize: none;
}

.btn {
	background-image: linear-gradient(
		45deg,
		var(--accent) 9.16%,
		#973dc0 43.89%,
		var(--accent) 64.72%
	);
	border-radius: 10px;
	border-style: none;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	padding: 0 1.6rem;
	text-align: center;
	padding: 10px;
	margin: 10px 0;
}

.btn:hover {
	background-color: #5d0d82;
}

.emptyField {
	border: 2px solid #ff0000;
}

/* spacing and alignment classes */
.flex {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1vw;
	row-gap: 1vh;
}
.flex-col {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
.flex-col-reverse {
	flex-direction: column-reverse;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}
.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}

/* Default padding styles for 10px paddings */
.p-10 {
	padding: 10px;
}
.pt-10 {
	padding-top: 10px;
}
.pb-10 {
	padding-bottom: 10px;
}
.pl-10 {
	padding-left: 10px;
}
.pr-10 {
	padding-right: 10px;
}
.py-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.px-10 {
	padding-left: 10px;
	padding-right: 10px;
}

/* Default padding styles for 15px paddings */
.p-15 {
	padding: 15px;
}
.pt-15 {
	padding-top: 15px;
}
.pb-15 {
	padding-bottom: 15px;
}
.pl-15 {
	padding-left: 15px;
}
.pr-15 {
	padding-right: 15px;
}
.py-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.px-15 {
	padding-left: 15px;
	padding-right: 15px;
}

/* Default padding styles for 30px paddings */
.p-30 {
	padding: 30px;
}
.py-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.px-30 {
	padding-left: 30px;
	padding-right: 30px;
}

/* Default padding styles for 50px paddings */
.p-50 {
	padding: 50px;
}
.py-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.px-50 {
	padding-left: 50px;
	padding-right: 50px;
}

/* Header */
header {
	position: sticky;
	top: 0;
	background-color: #fff;
	border-bottom: 1px var(--accent) solid;
	z-index: var(--header-z-index);
}

#footer-container {
	margin-top: 2px;
}

header img,
footer img {
	width: 50px;
	height: 50px;
}

#page-links {
	justify-content: space-evenly;
}

#home-link,
#home-link:visited,
#footer-container a,
#footer-container a:visited,
#page-links > a,
#page-links > a:visited {
	color: #000;
	text-decoration: none;
}

#footer-container a:hover,
#page-links > a:hover {
	text-decoration: underline;
}

/* Footer */

footer {
	background-color: #fff;
	border-bottom: 1px var(--accent) solid;
	border-top: 1px var(--accent) solid;
}

#footer-sections ul {
	list-style: none;
	padding: 0;
}

/* Homepage */
.home-head-box {
	background-color: rgba(35, 35, 35, 0.7);
	border: 1px solid var(--accent);
	border-radius: 10px;
	text-wrap: wrap;
	color: white;
}

.home-head-box .button {
	background-color: var(--primary);
	color: #ffffff;
	border: none;
	text-decoration: none;
	transition: background-color 200ms ease;
}

.home-head-box .button:hover {
	background-color: var(--accent);
}

.home-info-box {
	row-gap: 0;
}

.home-info-box > div {
	border: 1px solid var(--highlight);
	border-top: none;
	border-radius: 0px 0px 10px 10px;
	overflow: hidden;
}

.home-info-box a {
	color: #fff;
}

.home-info-box img {
	object-fit: cover;
	height: 300px;
	border-radius: 10px 10px 0px 0px;
}

.usp-section {
	border-top: 1px Solid var(--highlight);
}

.ups {
	list-style: none;
}
#sample-images img {
	object-fit: cover;
	height: 250px;
}

#home-images img {
	object-fit: cover;
	height: 400px;
}

/* dienstenpage */
#diensten-container {
	column-gap: 0;
}

#diensten {
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 15px;
	margin: 15px 0;
}

#diensten .dienst {
	background-color: color-mix(in srgb, var(--primary) 30%, transparent);
	border-radius: 5px;
	overflow: hidden;
}

#diensten .dienst img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

#diensten .dienst h2 {
	display: flex;
	align-items: center;
	width: 100%;
}

#diensten .dienst p {
	padding: 0;
}

/* Over Ons page */
.wie-zijn-wij-box {
	align-items: center;
	margin: 10px;
}

.missie-visie-box {
	align-items: center;
	margin: 10px;
	flex-direction: row-reverse;
}

/* Contactpage */
#contact-container {
	column-gap: 0;
}

#form-box,
#contact-info-box {
	padding: 10vh 0;
}

#form-box {
	background-color: var(--box-1);
}

#form-box .full-name {
	justify-content: space-between;
}

#form-box button {
	background-color: var(--primary);
	color: var(--highlight);
}

/* let the button from form-box bigger in slow motion */
#form-box button:hover {
	transition: transform 0.5s ease;
	transform: scale(1.2);
}

#contact-info-box {
	background-color: var(--box-2);
}

#contact-info-box ul {
	list-style: none;
}

#contact-info-box ul li {
	margin-bottom: 1vw;
}

/* let the li (img and span) from contact-box bigger in slow motion to the right */
#contact-info-box li:hover {
	transform: scale(1.2) translateX(20px);
	transition: transform 0.5s ease;
}

@media only screen and (min-width: 768px) {
	/* columns subtract the width of the gap specified by .flex from their own width */

	.col {
		width: calc(8.33% - 1vw);
	}

	.col-3 {
		width: calc(25% - 1vw);
	}

	.col-4 {
		width: calc(33.33% - 1vw);
	}

	.col-6 {
		width: calc(50% - 1vw);
	}

	.col-8 {
		width: calc(66.66% - 1vw);
	}

	.col-9 {
		width: calc(75% - 1vw);
	}

	.col-12 {
		width: 100%;
	}

	.offset {
		margin-left: 8.33%;
	}

	.offset-3 {
		margin-left: 33.33%;
	}

	.offset-4 {
		margin-left: 25%;
	}

	.offset-6 {
		margin-left: 50%;
	}

	.offset-8 {
		margin-left: 66.66%;
	}

	.offset-9 {
		margin-left: 75%;
	}
}

/* mobile only classes */
@media only screen and (max-width: 768px) {
	.mb-col {
		width: calc((1 / 12) * 100% - 1vw);
	}

	.mb-col-3 {
		width: calc(25% - 1vw);
	}

	.mb-col-4 {
		width: calc(33.33% - 1vw);
	}

	.mb-col-6 {
		width: calc(50% - 1vw);
	}

	.mb-col-8 {
		width: calc(66.66% - 1vw);
	}

	.mb-col-9 {
		width: calc(75% - 1vw);
	}

	.mb-col-12 {
		width: calc(100% - 1vw);
	}

	.mb-offset {
		margin-left: calc((1 / 12) * 100%);
	}

	.mb-offset-3 {
		margin-left: 33.33%;
	}

	.mb-offset-4 {
		margin-left: 25%;
	}

	.mb-offset-6 {
		margin-left: 50%;
	}

	.mb-offset-8 {
		margin-left: 66.66%;
	}

	.mb-offset-9 {
		margin-left: 75%;
	}

	.wie-zijn-wij-box {
		text-align: center;
		width: 100%;
		column-gap: 0vw;
		row-gap: 0vw;
	}

	#form-box .full-name {
		justify-content: center;
	}

	#contact-info-box ul {
		padding: 0;
	}

	#contact-info-box ul li {
		justify-content: center;
	}

	#contact-info-box ul li:hover {
		transform: scale(1.2);
		transition: transform 0.5s ease;
	}
	.home-banner {
		height: 300px;
	}
}

/*
    dark mode overrides
*/
@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #fdfaff;
		--background: #0a0a0a;
		--box-1: #2d2d2d; /* darkmode */
		--box-2: #323232; /* darkmode */
	}

	#home-link,
	#home-link:visited,
	#footer-container a,
	#footer-container a:visited,
	#page-links > a,
	#page-links > a:visited {
		color: #fff;
	}

	header,
	footer {
		background-color: #000;
		border-color: var(--highlight);
	}

	/* revers color img */
	.invert-color-img {
		filter: invert(100%);
	}
}
