/* Copyright 2024 Connect & Play. All rights reserved. */
/* page wide settings */
:root {
	font-family: "Inter", "Verdana", sans-serif;
	background-color: #feffd9;
	color: #000;
	--primary: #4b006e;
	--accent: #9c00e5;
	--highlight: #d6c52e;
}

body {
	margin: 0;
	padding: 0;
}

/* text style classes */

h1 {
	font-size: 41px;
	font-weight: bold;
}

h2 {
	font-size: 33px;
	font-weight: bold;
}

h3 {
	font-size: 27px;
	font-weight: bold;
}

h3 {
	font-size: 24px;
	font-weight: bold;
}

p {
	font-size: 16px;
}

.heading {
	font-size: 50px;
	font-weight: 400;
}

.text-center {
	text-align: center;
}

/* img stlye classes */

.home-banner {
	background-image: url("images/header.jpg");
	width: 100%;
	height: 30vh;
}

.banner-img {
	width: 100%;
	height: 30vh;
	margin: 0;
	padding: 0;
}

.contact-img {
	width: 50px;
	height: 50px;
}

/* classes for interactive elements (buttons, input fields) */

.input,
.button {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	box-shadow: 0 1px 1px #4b006e;
	resize: none;
}

/* spacing and alignment classes */

.flex {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1vw;
	row-gap: 1vh;
}

.justify-center {
	justify-content: center;
}

/* Contactpage */
#contact-container {
	column-gap: 0;
}

#contact-container #form-box,
#contact-info-box {
	align-items: center;
	width: 550px;
	height: 500px;
	padding: 20px;
}

/* formbox */
#contact-container #form-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #d5d6ae;
}

#contact-container #form-box .full-name .name-field {
	flex: 1;
}

#contact-container #form-box #message {
	height: 10vh;
}

#contact-container #form-box label {
	width: 100%;
}

#contact-container #form-box .button {
	background-color: #4b006e;
	color: #d6c52e;
	font-size: 16px;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#contact-container #form-box .button:hover {
	background-color: #5d0d82;
	color: #d6c52e;
}

/* conctactbox */
#contact-container #contact-info-box {
	background-color: #e8e9bd;
}

#contact-container #contact-info-box ul {
	list-style: none;
}

#contact-container #contact-info-box li {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

#contact-container #contact-info-box li:hover {
	transform: scale(1.2) translateX(20px);
	transition: transform 0.5s ease;
}

#contact-container #contact-info-box li span {
	margin-left: 10px;
}

/* dienstenpage */
#diensten-container {
	column-gap: 0;
}

#diensten {
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 1vw;
	row-gap: 1vh;
}

#diensten .dienst {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid var(--accent);
	background-color: color-mix(in srgb, var(--primary) 50%, transparent);
	border-radius: 5px;
	width: calc(50% - (1vw + 30px));
}

#diensten .dienst img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
}

#diensten .dienst h2 {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
	color: #fff;
}

#diensten .dienst p {
	padding: 10px;
}
#diensten .dienst .button {
	width: calc(100% - 20px);
	margin: 0px auto 10px;
}

/* columns subtract the width of the gap specified by .flex from their own width */
.col {
	width: calc(8.33% - 1vw);
}

.col-3 {
	width: calc(25% - 1vw);
}

.col-4 {
	width: calc(33.33% - 1vw);
}

.col-6 {
	width: calc(50% - 1vw);
}

.col-8 {
	width: calc(66.66% - 1vw);
}

.col-9 {
	width: calc(75% - 1vw);
}

.col-12 {
	width: 100%;
}

.offset {
	margin-left: 8.33%;
}

.offset-3 {
	margin-left: 33.33%;
}

.offset-4 {
	margin-left: 25%;
}

.offset-6 {
	margin-left: 50%;
}

.offset-8 {
	margin-left: 66.66%;
}

.offset-9 {
	margin-left: 75%;
}

/* mobile only classes */
@media only screen and (max-width: 576px) {
	.mb-col {
		width: calc((1 / 12) * 100% - 1vw);
	}

	.mb-col-3 {
		width: calc(25% - 1vw);
	}

	.mb-col-4 {
		width: calc(33.33% - 1vw);
	}

	.mb-col-6 {
		width: calc(50% - 1vw);
	}

	.mb-col-8 {
		width: calc(66.66% - 1vw);
	}

	.mb-col-9 {
		width: calc(75% - 1vw);
	}

	.mb-col-12 {
		width: calc(100% - 1vw);
	}

	.mb-offset {
		margin-left: calc((1 / 12) * 100%);
	}

	.mb-offset-3 {
		margin-left: 33.33%;
	}

	.mb-offset-4 {
		margin-left: 25%;
	}

	.mb-offset-6 {
		margin-left: 50%;
	}

	.mb-offset-8 {
		margin-left: 66.66%;
	}

	.mb-offset-9 {
		margin-left: 75%;
	}
}

/*
    dark mode overrides
*/
@media (prefers-color-scheme: dark) {
	:root {
		background-color: #262313;
		color: #fff;
	}

	#form-box {
		background-color: #605c4b9e;
	}

	#contact-info-box {
		background-color: #605c4b;
	}

	#contact-info-box li img {
		filter: invert(100%); /* revert img color for darkmode */
	}
}
