/* Copyright 2025 Connect & Play. All rights reserved. */
/* page wide settings */
:root {
	--foreground: #0a0a0a;
	--background: #fdfaff;
	--primary: #4b006e;
	--accent: #9c00e5;
	--highlight: #d6c52e;
	--box-1: #cdcdcd;
	--box-2: #b5b5b5;
	--footer-header: #000;
	--header-z-index: 10;
}

/* reset default browser styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* don't include padding and margins to elements width and height */
}

body {
	font-family: "Inter", "Verdana", sans-serif;
	background-color: var(--background);
	color: var(--foreground);
}

#dashboardBox > div > a {
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

/* img style classes */
.home-banner {
	background-image: url("/images/header.jpg");
	background-size: cover;
	width: 100%;
	height: 500px;
}

.banner-img {
	object-fit: cover;
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
}

.contact-img {
	width: 4vw;
	height: 4vh;
}

.product-img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* classes for interactive elements (buttons, input fields) */
.input,
.button {
	width: 100%;
	padding: 10px 0;
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	box-shadow: 0 1px 1px var(--primary);
	resize: none;
}

.table-head {
	border-bottom: 1px solid var(--box-1);
}

.dashboardButton {
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	width: 100%;
	padding: 30px 0;
	border: 1px solid var(--background);
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(75, 0, 110, 0.48),
		rgba(75, 0, 110, 1)
	);
}

.dashboardButton:hover {
	border: 1px solid var(--primary);
}

.emptyField {
	border: 2px solid #ff0000;
}

/*Error Messages*/
.error-message {
	background-color: #202020;
	border: 2px solid #ff0000;
	color: #ff0000;
	padding: 12px 16px;
	border-radius: 8px;
	font-weight: 500;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
	display: none; /* standaard verborgen */
}

/*Success Messages*/
.success-message {
	background-color: #202020;
	border: 2px solid #00b100;
	color: #00b100;
	padding: 12px 16px;
	border-radius: 8px;
	font-weight: 500;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
	display: none; /* standaard verborgen */
}

/* border-radius: 8px */
.br-8 {
	border-radius: 8px;
}

/* Grid layout utilities */

/* display: grid; 3 columns */
.grid-col-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Verdeel in drie kolommen */
}

/* Header */
header {
	position: sticky;
	top: 0;
	background-color: #fff;
	border-bottom: 1px var(--accent) solid;
	z-index: var(--header-z-index);
}

header img {
	width: 50px;
	height: 50px;
}

#page-links {
	justify-content: space-evenly;
}

#home-link,
#home-link:visited,
#footer-container a,
#footer-container a:visited,
#page-links > a,
#page-links > a:visited {
	color: #000;
	text-decoration: none;
}

#footer-container a:hover,
#page-links > a:hover {
	text-decoration: underline;
}

/* Footer */
footer {
	background-color: #fff;
	border-bottom: 1px var(--accent) solid;
	border-top: 1px var(--accent) solid;
}

footer img {
	width: 40px;
	height: 40px;
}

ul {
	list-style: none;
	padding: 0;
}

/* Homepage */
.home-head-box {
	background-color: rgba(35, 35, 35, 0.7);
	border: 1px solid var(--accent);
	border-radius: 10px;
	text-wrap: wrap;
	color: white;
}

.home-head-box .button,
#service-container .button,
#data-hub-container .button {
	background-color: var(--primary);
	color: #ffffff;
	border: none;
	text-decoration: none;
	transition: background-color 200ms ease;
	padding: 10px;
}

.home-head-box .button:hover,
#service-container .button:hover,
#data-hub-container .button:hover {
	background-color: var(--accent);
}

.home-info-box {
	row-gap: 0;
}

.home-info-box > div {
	border: 1px solid var(--accent);
	border-top: none;
	border-radius: 0px 0px 10px 10px;
	overflow: hidden;
}

.home-info-box a {
	color: #fff;
}

.home-info-box img {
	object-fit: cover;
	height: 300px;
	border-radius: 10px 10px 0px 0px;
}

.home-info-button {
	background-color: var(--primary);
	border-radius: 10px;
	border: none;
	text-decoration: none;
	transition: background-color 200ms ease;
	text-align: center;
	padding: 10px;
	margin: 10px 0;
}

.home-info-button:hover {
	background-color: var(--accent);
}

.usp-section {
	border-top: 1px Solid var(--accent);
}

.usp {
	list-style: none;
}

#sample-images img {
	object-fit: cover;
	height: 250px;
}

#home-images img {
	object-fit: cover;
	height: 400px;
}

/* Dienstenpage */
#diensten-container {
	column-gap: 0;
}

#diensten {
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 15px;
	padding: 15px 0;
}

#diensten .dienst {
	/* mixes 30% of the hex color with transparency */
	background-color: color-mix(in srgb, var(--primary) 30%, transparent);
	border-radius: 5px;
	overflow: hidden;
}

#diensten .dienst img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

#diensten .dienst h2 {
	display: flex;
	align-items: center;
	width: 100%;
}

#diensten .dienst p {
	padding: 0;
}

#dienstDetails img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

/* Over Ons page */
#over-ons-container h1 {
	padding-top: 50px;
}

.wie-zijn-wij-box {
	background-color: color-mix(in srgb, var(--primary) 30%, transparent);
	flex-direction: row-reverse;
}

.missie-visie-box {
	background-color: color-mix(in srgb, var(--primary) 30%, transparent);
}

.over-ons-img {
	object-fit: cover;
}
/* Data Hub page */
#data-hub-container .table {
	width: 100%;
	border: 1px solid var(--box-1);
	border-spacing: 0;
}
#data-hub-container .table tr {
	background-color: var(--box-1);
	color: var(--foreground);
}
#data-hub-container .table th,
#data-hub-container .table td {
	padding: 5px;
	text-align: center;
	border: none;
}
#data-hub-container .table tbody tr:nth-child(odd) {
	background-color: color-mix(in srgb, var(--box-1) 50%, var(--background));
}
#data-hub-container .button {
	width: fit-content;
}

/* Contactpage */
#contact-container,
#login-container {
	column-gap: 0;
}

#form-box,
#contact-info-box {
	padding: 10vh 0;
}

#form-box,
#dashboardBox,
#noSearchResultBox {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: color-mix(in srgb, var(--primary) 30%, transparent);
}

#form-box .full-name {
	justify-content: space-between;
}

#form-box button {
	background-color: var(--primary);
	color: var(--highlight);
}

/* let the button from form-box bigger in slow motion */
#form-box button:hover {
	transition: transform 0.5s ease;
	transform: scale(1.2);
}

#contact-info-box {
	background-color: color-mix(in srgb, var(--primary) 40%, transparent);
}

#contact-info-box ul {
	list-style: none;
}

/* let the li (img and span) from contact-box bigger in slow motion to the right */
#contact-info-box li:hover {
	transform: scale(1.2) translateX(20px);
	transition: transform 0.5s ease;
}

#profile-container {
	background-color: var(--background);
}

#profile-container .button,
#checkout-container .button {
	width: auto;
	background-color: var(--accent);
	color: var(--foreground);
	padding: 10px 15px;
}

#profile-container .button.active {
	background-color: var(--primary);
}

#productfilter {
	display: flex;
	gap: 16px;
}

.product-accent-border {
	border: 1px solid var(--accent);
	border-radius: 8px;
}

#productlijst {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Verdeel in drie kolommen */
	gap: 16px;
	border-radius: inherit; /* zo steekt de padding niet uit */
}

.game-card,
#checkout-container .box {
	border: 1px solid var(--box-2);
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.game-card:hover {
	border-color: var(--accent);
	transition: border-color 200ms;
}

#pagination a {
	color: var(--foreground);
	text-decoration: none;
	padding-right: 10px;
}

#pagination a:hover {
	text-decoration: underline;
}

#profile-container .order-table {
	width: 100%;
	border-collapse: collapse;
}

#profile-container .order-table thead {
	background-color: var(--box-1);
	color: var(--foreground);
}

#profile-container .order-table th,
#profile-container .order-table td {
	padding: 10px;
	border: 1px solid var(--box-1);
	text-align: center;
}

#profile-container .order-table tr:nth-child(even) td {
	border-color: var(--background);
}

#profile-container .order-table tbody tr:nth-child(even) {
	background-color: var(--box-2);
}

#profile-container .order-summary {
	background: var(--box-1);
	border-radius: 8px;
	padding: 24px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

#profile-container .order-summary h2 {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 16px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e0e0e0;
}

#profile-container .order-summary .row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

#profile-container .order-summary .label {
	color: #555;
	font-weight: 500;
}

.product-score {
	color: var(--primary);
	font-size: 1.25rem;
}

.product-price {
	color: var(--primary);
	font-weight: 700;
}

/* Mislukte zoek resultaten pagina */
#zoekTermBox {
	color: var(--foreground);
	border: 1px solid #2d2d2d;
	box-shadow: 0 4px 12px #0000004d;
}

#zoekTermBox p {
	gap: 10px;
}

#zoekTermBox .label {
	min-width: 100px;
	font-weight: bold;
}

/* Toevoegen aan winkelwagen knop */
#add-to-cart {
	display: flex;
	border: none;
	gap: 0.5rem;
}

#add-to-cart.added {
	background-color: var(--accent);
	color: var(--foreground);
}

#add-to-cart > i.check {
	-webkit-mask: url(/images/check.svg) no-repeat center;
	mask: url(/images/check.svg) no-repeat center;
	background: var(--highlight);
	width: 16px;
	height: 16px;
}

/* Winkelwagen */
.cart-icon-button {
	background: none;
	border: none;
	cursor: pointer;
	position: relative;
	padding: 0;
}

.cart-button {
	color: var(--foreground);
	background: var(--accent);
	padding: 4px 5px;
	border-radius: 2px;
	border: none;
}

.cart-count-badge {
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: crimson;
	color: white;
	border-radius: 50%;
	font-size: 0.75rem;
	padding: 2px 6px;
}

.cart-dropdown {
	position: absolute;
	top: 5rem;
	right: 1rem;
	border: 1px solid var(--primary);
	background-color: var(--background);
	padding: 1rem;
	width: 500px;
	z-index: 1000;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	padding: 0.25rem 0;
}

.cart-item-name {
	flex: 1;
}

.cart-item-details {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.cart-item-controls {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.cart-item-controls i {
	display: inline-block;
	background: var(--foreground);
	width: 20px;
	height: 20px;
	mask-size: 20px !important;
	cursor: pointer;
}

i.minus {
	-webkit-mask: url(/images/minus.svg) no-repeat center;
	mask: url(/images/minus.svg) no-repeat center;
}
i.plus {
	-webkit-mask: url(/images/plus.svg) no-repeat center;
	mask: url(/images/plus.svg) no-repeat center;
}
i.trash {
	-webkit-mask: url(/images/trash.svg) no-repeat center;
	mask: url(/images/trash.svg) no-repeat center;
}

.cart-item-price,
.cart-item-amount {
	/* min-width: 50px; */
	text-align: center;
}

.cart-item-price:has(.cart-price-indicator),
.cart-price:has(.cart-price-indicator) > span {
	display: flex;
	min-width: 75px;
}

.cart-item-price:has(.cart-price-indicator) .cart-price-indicator,
.cart-price:has(.cart-price-indicator) .cart-price-indicator {
	flex: 1;
	text-align: left;
}

.cart-dropdown.hidden {
	display: none;
}

.cart-title {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.cart-price {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	color: var(--foreground);
}

.cart-price > span {
	font-weight: normal;
}

.checkout-button {
	display: block;
	text-align: center;
	margin-top: 0.5rem;
	padding: 0.5rem 1rem;
	color: var(--foreground);
	background-color: var(--accent);
	text-decoration: none;
	border: none;
	border-radius: 5px;
	font-size: medium;
}

.cart-icon-image {
	width: 24px;
	height: 24px;
}

.status-error {
	border: 2px dashed var(--accent);
	border-radius: 8px;
	padding: 30px;
}

.status-success {
	border: 2px solid var(--accent);
	border-radius: 8px;
	padding: 30px;
}

/* mobile only classes */
@media only screen and (max-width: 768px) {
	.home-banner {
		height: 300px;
	}

	.grid-col-3 {
		grid-template-columns: 1fr;
	}

	.banner-img {
		height: 100px;
	}

	.maak-afspraak-footer,
	.over-ons-footer,
	.contact-ons-footer {
		padding-bottom: 20px;
	}
	#diensten h2 {
		justify-content: center;
	}

	#over-ons-container h1 {
		padding-top: 20px;
	}

	#over-ons-container h1,
	p {
		text-align: center;
	}

	#form-box .full-name {
		justify-content: center;
	}

	#contact-info-box ul {
		padding: 0;
	}

	#contact-info-box ul li {
		justify-content: center;
	}

	#contact-info-box ul li:hover {
		transform: scale(1.2);
		transition: transform 0.5s ease;
	}

	#productlijst {
		grid-template-columns: repeat(
			2,
			1fr
		); /* Toon 2 kaarten naast elkaar op tablets */
	}
}

@media (max-width: 480px) {
	#productlijst {
		grid-template-columns: 1fr; /* Toon 1 kaart per rij op mobiele apparaten */
	}
}

/*
    dark mode overrides
*/
@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #fdfaff;
		--background: #0a0a0a;
		--box-1: #2d2d2d;
		/* darkmode */
		--box-2: #323232;
		/* darkmode */
	}

	#home-link,
	#home-link:visited,
	#footer-container a,
	#footer-container a:visited,
	#page-links > a,
	#page-links > a:visited {
		color: #fff;
	}

	a:visited {
		color: #fff;
	}

	header,
	footer {
		background-color: #000;
		border-color: var(--highlight);
	}

	#form-box {
		background-color: var(--box-1);
	}

	#contact-info-box {
		background-color: var(--box-2);
	}

	/* revers color img */
	.invert-color-img {
		filter: invert(100%);
	}

	.game-card {
		box-shadow: none;
	}

	.game-card:hover {
		border-color: var(--highlight);
	}

	.product-accent-border {
		border: 1px solid var(--highlight);
	}

	.product-score {
		color: var(--highlight);
	}

	.product-price {
		color: var(--highlight);
	}

	.home-head-box,
	.home-info-box > div,
	.usp-section {
		border-color: var(--highlight);
	}

	#zoekTermBox {
		background-color: #4b006e;
		color: var(--foreground);
	}

	.status-error {
		border: 2px dashed var(--highlight);
	}

	.status-success {
		border: 2px solid var(--highlight);
	}

	.lineBetweenRoles {
		background: var(--highlight);
		color: var(--highlight);
	}

	.dashboardButton {
		border-color: var(--primary);
	}

	.dashboardButton:hover {
		border: 1px solid var(--highlight);
	}
}
