/* Copyright 2024 Connect & Play. All rights reserved. */
/* page wide settings */
:root {
	--foreground: #0a0a0a;
	--background: #fdfaff;
	--primary: #4b006e;
	--accent: #9c00e5;
	--highlight: #d6c52e;
	--box-1: #cdcdcd;
	--box-2: #b5b5b5;
	--footer-header: #000;
	--header-z-index: 10;
}

/* reset default browser styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* don't include padding and margins to elements width and height */
}

body {
	font-family: "Inter", "Verdana", sans-serif;
	background-color: var(--background);
	color: var(--foreground);
}


.heading {
	font-size: 50px;
	font-weight: 400;
}

#dashboardBox > div > a {
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

/* img style classes */
.home-banner {
	background-image: url("../../images/header.jpg");
	background-size: cover;
	width: 100%;
	height: 500px;
}

.banner-img {
	object-fit: cover;
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
}

.contact-img {
	width: 24px;
	height: 24px;
}

/* classes for interactive elements (buttons, input fields) */
.input,
.button {
	
	padding: 10px 0;
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	box-shadow: 0 1px 1px var(--primary);
	resize: none;
}

.dashboardButton {
	width: 100%;
	padding: 30px 0;
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	box-shadow: 0 1px 1px var(--primary);
	background: linear-gradient(
		90deg,
		rgba(75, 0, 110, 0.48),
		rgba(75, 0, 110, 1)
	);
}

.dashboardButton:hover {
	background: linear-gradient(
		90deg,
		rgba(128, 128, 128, 0.48),
		rgba(128, 128, 128, 1)
	);
}

.emptyField {
	border: 2px solid #ff0000;
}


/*Error Messages*/
.error-message {
	background-color: #202020;
	border: 2px solid #ff0000;
}

/* Header */
header {
	position: sticky;
	top: 0;
	background-color: #fff;
	border-bottom: 1px var(--accent) solid;
	z-index: var(--header-z-index);
}

header img {
	width: 50px;
	height: 50px;
}

#home-link,
#home-link:visited,
#footer-container a,
#footer-container a:visited,
#page-links > a,
#page-links > a:visited {
	color: #000;
	text-decoration: none;
}

#footer-container a:hover,
#page-links > a:hover {
	text-decoration: underline;
}

/* Footer */
footer {
	background-color: #fff;
	border-bottom: 1px var(--accent) solid;
	border-top: 1px var(--accent) solid;
}

footer img {
	width: 40px;
	height: 40px;
}

ul {
	list-style: none;
	padding: 0;
}

/* Homepage */
.home-head-box {
	background-color: rgba(35, 35, 35, 0.7);
	border: 1px solid var(--accent);
	border-radius: 10px;
	/* text-wrap: wrap; */
}

.home-head-box .button {
	background-color: var(--primary);
	color: #ffffff;
	border: none;
	text-decoration: none;
	transition: background-color 200ms ease;
	padding: 10px;
}

.home-head-box .button:hover {
	background-color: var(--accent);
}

.home-info-box {
	row-gap: 0;
}

.home-info-box {
	border: 1px solid var(--accent);
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}

.home-info-box a {
	color: #fff;
}

.home-info-box img {
	object-fit: cover;
	height: 300px;
	border-radius: 10px 10px 0px 0px;
}

.home-info-button {
	background-color: var(--primary);
	border-radius: 10px;
	border: none;
	text-decoration: none;
	transition: background-color 200ms ease;
	text-align: center;
	padding: 10px;
	margin: 10px 0;
}

.home-info-button:hover {
	background-color: var(--accent);
}

.usp-section {
	border-top: 1px Solid var(--accent);
}

.usp {
	list-style: none;
}

#sample-images img {
	object-fit: cover;
	height: 250px;
}

#home-images img {
	object-fit: cover;
	height: 400px;
}

/* Dienstenpage */
#diensten-container {
	column-gap: 0;
}

#diensten {
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 15px;
	padding: 15px 0;
}

#diensten .dienst {
	/* mixes 30% of the hex color with transparency */
	background-color: color-mix(in srgb, var(--primary) 30%, transparent);
	border-radius: 5px;
	overflow: hidden;
}

#diensten .dienst img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

#diensten .dienst h2 {
	display: flex;
	align-items: center;
	width: 100%;
}

#diensten .dienst p {
	padding: 0;
}

/* Over Ons page */
#over-ons-container h1 {
	padding-top: 50px;
}

.wie-zijn-wij-box {
	background-color: color-mix(in srgb, var(--primary) 30%, transparent);
	flex-direction: row-reverse;
}

.missie-visie-box {
	background-color: color-mix(in srgb, var(--primary) 30%, transparent);
}

.over-ons-img {
	object-fit: cover;
}

/* Contactpage */
#contact-container,
#login-container {
	column-gap: 0;
}

#form-box,
#contact-info-box {
	padding: 10vh 0;
}

#form-box,
#dashboardBox {
	background-color: color-mix(in srgb, var(--primary) 30%, transparent);
}

#form-box .full-name {
	justify-content: space-between;
}

#form-box button {
	background-color: var(--primary);
	color: var(--highlight);
}

/* let the button from form-box bigger in slow motion */
#form-box button:hover {
	transition: transform 0.5s ease;
	transform: scale(1.2);
}

#contact-info-box {
	background-color: color-mix(in srgb, var(--primary) 40%, transparent);
}

#contact-info-box ul {
	list-style: none;
}

/* let the li (img and span) from contact-box bigger in slow motion to the right */
#contact-info-box li:hover {
	transform: scale(1.2) translateX(20px);
	transition: transform 0.5s ease;
}

/* mobile only classes */
@media only screen and (max-width: 768px) {
	.home-banner {
		height: 300px;
	}

	.banner-img {
		height: 100px;
	}

	#page-links {
		margin-top: 16px;
	}

	#diensten h2 {
		justify-content: center;
	}

	#over-ons-container h1,
	p {
		text-align: center;
	}

	#form-box .full-name {
		justify-content: center;
	}

	#contact-info-box ul {
		padding: 0;
	}

	#contact-info-box ul li {
		justify-content: center;
	}

	#contact-info-box ul li:hover {
		transform: scale(1.2);
		transition: transform 0.5s ease;
	}
}

/*
    dark mode overrides
*/
@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #fdfaff;
		--background: #0a0a0a;
		--box-1: #2d2d2d;
		/* darkmode */
		--box-2: #323232;
		/* darkmode */
	}

	#home-link,
	#home-link:visited,
	#footer-container a,
	#footer-container a:visited,
	#page-links > a,
	#page-links > a:visited {
		color: #fff;
	}

	header,
	footer {
		background-color: #000;
		border-color: var(--highlight);
	}

	#form-box {
		background-color: var(--box-1);
	}

	#contact-info-box {
		background-color: var(--box-2);
	}

	/* revers color img */
	.invert-color-img {
		filter: invert(100%);
	}

	.home-head-box,
	.home-info-box,
	.usp-section {
		border-color: var(--highlight);
	}
}
